<?xml version="1.0"?>
<robot name="portafilter_tool" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Main body of the tool with STL geometry -->
  <link name="tool_body">
    <visual>
      <geometry>
        <mesh filename="package://pickn_place/physical_things/mesh/portafilter.stl"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
  </link>
  
  <!-- Internal Frame 1 -->
  <link name="aruco_link" />
  <joint name="aruco_joint" type="fixed">
    <parent link="tool_body"/>
    <child link="aruco_link"/>
    <origin xyz="0.0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Internal Frame 2 -->
  <link name="pick_link" />
  <joint name="pick_joint" type="fixed">
    <parent link="tool_body"/>
    <child link="pick_link"/>
    <origin xyz="0.1 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Internal Frame 3 -->
  <link name="prepick_link" />
  <joint name="prepick_joint" type="fixed">
    <parent link="tool_body"/>
    <child link="prepick_link"/>
    <origin xyz="-0.1 0 0" rpy="0 0 0"/>
  </joint>

</robot>

